syntax: glob

*.exe
*.dll
*.obj
*.pdb
*.user
*.aps
*.pch
*.vspscc
*.vssscc
*_i.c
*_p.c
*.ncb
*.suo
*.tlb
*.tlh
*.bak
*.cache
*.ilk
*.log
*.lib
*.sbr
*.scc
*.sdf
*.vs10x
*.orig
*.docstates
*.dbmdl
*.xap
*.vsp
*.lock
[Bb]in
[Dd]ebug*/
[Bb]ackup
obj/
.svn/
[Rr]elease*/
[Ll]atest [Rr]elease*/
_ReSharper*/
[Tt]est[Rr]esult*
[Bb]uild[Ll]og.*
*.[Pp]ublish.xml
*.[Rr]e[Ss]harper
StyleCop.Cache
App_Data/error-*.xml
ClientBin
GeneratedForm/
build/*.js
Installers/*/*/Express
*.datasource
.vs
.awcache
.ionide